body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
.card{
    transition: all 0.9s;;
}
.card{
    transition: all 0.3s;
}
.card:hover {
transform: scale(1.10);
}